<h1>User list</h1>
<input type="button" value="add" class="btn btn-default" (click)="addUser()" />
<table class="table table-striped" bordercolor="black" border="1" width="80%">
    <thead>
        <tr align="center">
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Company</td>           
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <ng-template [ngTemplateOutlet]="loadTemplate(user)" 
                        [ngTemplateOutletContext]="{ $implicit: user}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
   
   
<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-user>
    <td>{{user.Id}}</td>
    <td>{{user.Name}}</td>
    <td>{{user.Email}}</td>
    <td>{{user.Company}}</td>
    
    <td>
        <input type="button" value="Edit" class="btn btn-default" (click)="editUser(user)" />
    </td>
    <td>
        <input type="button" value="Delete" (click)="deleteUser(user)" class="btn btn-danger" />
    </td>
</ng-template>
  
<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedUser.Id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedUser.Name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedUser.Email" name="email" class="form-control" #email="ngModel" 
        required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
        <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                          Некорректный email
        </div>
    </td>
    <td>
        <input type="text" [(ngModel)]="editedUser.Company" company="company" class="form-control" #company="ngModel" 
        required pattern="[0-9]{1,2}"/>
        <div [hidden]="company.valid || company.untouched" class="alert alert-danger">
                          Некорректная компания
         </div>
    </td>
    
    <td>
        <input type="button" value="save" (click)="saveUser()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="escape" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>