<h1>Company list</h1>
<input type="button" value="add" class="btn btn-default" (click)="addCompany()" />
<table class="table table-striped" bordercolor="black" border="1" width="80%">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Quota</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companys">
            <ng-template [ngTemplateOutlet]="loadTemplate(company)" 
                        [ngTemplateOutletContext]="{ $implicit: company}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
   
   
<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-company>
    <td>{{company.Id}}</td>
    <td>{{company.Name}}</td>
    <td>{{company.Quota}}</td>
    <td>
        <input type="button" value="Edit" class="btn btn-default" (click)="editCompany(company)" />
    </td>
    <td>
        <input type="button" value="Delete" (click)="deleteCompany(company)" class="btn btn-danger" />
    </td>
</ng-template>
  
<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedCompany.Id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedCompany.Name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedCompany.Quota" class="form-control" />
    </td>
    <td>
        <input type="button" value="Save" (click)="saveCompany()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="escape" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>